on:
  schedule:
    - cron: '0 6 * * *' # every day at 6AM
  workflow_dispatch: # allow manual

permissions:
    contents: write

jobs:
  sync:
    name: Sync SensEdu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Library Repo
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Clean Library Repo
        run: |
          shopt -s extglob
          rm -rf !(README.md|LICENSE|.github)
          
      - name: Checkout Upstream Repo
        uses: actions/checkout@v4
        with:
          repository: ShiegeChan/SensEdu
          ref: dev
          path: upstream

      - name: Copy SensEdu Library into Repo
        run: |
          cp -R upstream/libraries/SensEdu/. ./
          rm -rf upstream
    
      - name: Commit on Changes
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          
          git add .

          if git diff --cached --quiet; then
            echo "No changes, exiting..."
            exit 0
          fi
          
          git commit -m "Sync with SensEdu library upstream"
          git push origin master
